/* create card */
.card {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    min-width: 300px;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.3s ease;
}

.card a {
    text-decoration: none;
    color: #000;
    display: flex;
    flex-direction: column;
}

.card a:hover {
    text-decoration: none;
    color: var(--color-primary);
} 

.card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
    display: flex;
    align-self: center;
    justify-content: center;
    border-radius: 5px;
}

.card .card-header {
    margin-bottom: 20px;
}

.card div {
    padding-top: 20px;
}

.card-header h2 {
    margin: 0;
}

.card div {
    border-top: 1px solid #eee;
}

.card-body h3, .card-body p {
    margin: 0;
}

.card-body h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}
